Flask==2.1.1
waitress==2.1.1
flask-sock==0.5.1
Werkzeug==2.1.2
Jinja2==3.1.1
MarkupSafe==2.1.0
itsdangerous==2.1.1
click==8.1.2
gunicorn==20.1.0
SpeechRecognition==3.8.1
gTTS==2.3.1
pydub==0.25.1
protobuf==3.20.0
openai==0.27.0
google-auth==2.6.2
google-cloud-texttospeech==2.11.0
requests==2.27.1
Flask-CORS==4.0.0
google-cloud-bigquery==3.0.1
google-cloud-storage==2.7.0
google-cloud-datastore==2.8.1
diskcache==5.4.0
PyJWT==2.5.0
faster-whisper @ https://github.com/guillaumekln/faster-whisper/archive/refs/heads/master.tar.gz